@*@model List<Google.Apis.YouTube.v3.Data.SearchResult>*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    ViewBag.Title = "SearchList";
}

<h2>SearchList</h2>

<input type="text" class="form-control" id="Search" placeholder="busca" />
<a class="btn btn-default" href="javascript:void(0)" onclick="btnSearch()">Search</a>

<div id="play">

</div>

<div class="container" id="ListYoutube">

</div>

@*https://developers.google.com/youtube/iframe_api_reference*@
<script>
    function btnSearch() {
        $.ajax(
            {
                url: '@Url.Action("SearchList","Youtube")?SearchWord=' + $('#Search').val(),
                type: 'GET',
                success: function (result) {
                    $('#ListYoutube').html(result);
                }
            });
    }

    function btnAdd(Video) {
        $.ajax(
            {
                url: '@Url.Action("AddToPlayList","Youtube")?IdVideo=' + Video,
                type: 'GET'
            });
    }

    function btnPlay(Id) {
        $.ajax(
            {
                url: '@Url.Action("Play","Youtube")?IdVideo=' + Id,
                type: 'GET',
                success: function (result) {
                    $('#play').html(result);
                }
            });      
    }
</script>