@model List<Google.Apis.YouTube.v3.Data.SearchResult>

@for (int i = 0; i < Model.Count; i++)
{
    @Model[i].Snippet.Title <br />
    <img onclick="btnPlay('@Model[i].Id.VideoId')" class="img-responsive" src="http://img.youtube.com/vi/@Model[i].Id.VideoId/mqdefault.jpg" alt="@Model[i].Snippet.Title">  
    <br />
    <button class="btn btn-default" onclick="btnAddToPlayList('@Model[i].Id.VideoId')"> add</button>
    <br />
}



